* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --regular: 'Roboto Regular', sans-serif;
    --medium: 'Roboto Medium', sans-serif;
    --bold: 'Roboto Bold', sans-serif;
}

:root {
    --primary-color: rgb(18, 109, 130);
    --primary-color-blur: rgba(18, 109, 130, 0.05);
    --secondary-color: rgb(216, 227, 231);
    --tertiary-color: rgb(81, 196, 211);
    --primary-contrast-color: rgb(238, 111, 87);
    --primary-contrast-color-blur: rgba(238, 111, 87, 0.05);

    --red: rgb(207, 69, 92);
    --gray: rgb(153, 153, 153);
    --gray-blur: rgba(153, 153, 153, 0.1);
    --white: rgb(255, 255, 255);
    --black: rgb(51, 51, 51);
    
    --bg-overlay: rgba(0, 0, 0, 0.35);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--white);
}

.container {
    position: relative;
    width: 100%;
}

.nav_menu {
    position: fixed;
    width: 25rem;
    height: 100%;
    background: var(--tertiary-color);
    border-left: 1rem solid var();
    transition: 0.25s ease;
    overflow: hidden;
}

.nav_menu.active {
    width: 6rem;
}

.nav_menu ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-bottom-left-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}

.nav_menu ul li:hover,
.nav_menu ul li.hovered {
    background: var(--white);
    transition: 0.3s ease;
}

.nav_menu ul li:nth-child(1) {
    margin-bottom: 4rem;
    pointer-events: none;
}

.nav_menu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:var(--white);

    font-family: var(--regular);
}

.nav_menu ul li:hover a,
.nav_menu ul li.hovered a {
    color: var(--primary-color);
}

.nav_menu ul li a .icon {
    position: relative;
    display: block;
    min-width: 5rem;
    height: 5rem;
    line-height: 6rem;
    text-align: center;
    top: 0.5rem;
}

.nav_menu ul li a .icon ion-icon {
    font-size: 3rem;
}

.nav_menu ul li a .title {
    position: relative;
    display: block;
    padding: 0 1rem;
    height: 5rem;
    line-height: 5rem;
    text-align: start;
    white-space: nowrap;
    font-size: 1.6rem;
}
.nav_menu ul li:hover a::before,
.nav_menu ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -5rem;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border-radius: 50%;
    box-shadow: 3.5rem 3.5rem 0 1rem var(--grey);
    pointer-events: none;
}
.nav_menu ul li:hover a::after,
.nav_menu ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5rem;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border-radius: 50%;
    box-shadow: 3.5rem -3.5rem 0 1rem var(--grey);
    pointer-events: none;
}

/* main */
.main {
    position: relative;
    width: calc(100%-25rem);
    left: 25rem;
    min-height: 100vh;
    background: var(--grey);
    transition: 0.5s;
}

.main.active {
    left: 70px;
    width: calc(100%-7rem);
}

.topbar {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.toggle {
    position: relative;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.toggle ion-icon{
    font-size: 3rem;
}

.search {
    position: relative;
    width: 40rem;
    margin: 0 1rem;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 4rem;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    outline: none;
    border: 1px solid #000;
    font-size: 1.6rem;
}

.search label ion-icon {
    position: absolute;
    right: 1rem;
    top: -0.8rem;
    font-size: 2.5rem;

}

.user {
    position: relative;
    left: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_box {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    font-family: var(--medium);
}

a {
    text-decoration: none;
    color: black;
}

.card_box .card {
    position: relative;
    background:var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0.7rem 2.5rem rgba(0, 0, 0, 0.08);
}

.card_box .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 4rem;
    color: var(--primary-color);
}

.card_box .card .card_name {
    color: var(--bg-overlay);
    font-size: 1.6rem;
    margin: 0.5rem 0 0 0.5rem;
}

.card_box .card .icon_card {
    font-size: 3rem;
    color: var(--dark);
    position: relative;
    left: 0;
    top: 1rem;
}
.card_box .card .icon_card ion-icon{
    font-size: 3.3rem;
}

.card_box .card:hover {
    background: var(--tertiary-color);
    transition: 0.3s ease;
}

.card_box .card:hover .numbers,
.card_box .card:hover .card_name,
.card_box .card:hover .icon_card {
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.detail {
    position: relative;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    /*margin-top: 1rem;*/
}

.detail .recent_orders {
    position: relative;
    display: grid;
    min-height: 50rem;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}
.card_header_r {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card_header h2, .card_header_r h2 {
    font-weight: 500;
    color: var(--dark);
    font-size: 2.7rem;
    font-family: var(--medium);
}

.card_header h2 {
    font-weight: 500;
    color: var(--dark);
}

.btn {
    position: relative;
    padding: 5px 1rem;
    background: var(--tertiary-color);
    text-decoration: none;
    color: var(--dark);
    border-radius: 0.6rem;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

.detail table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.detail table thead td {
    font-weight: 600;
    font-size: 1.8rem;
    font-family: var(--medium);
}

.detail .recent_orders table tr {
    color: black;
    border-bottom: 1px solid rgba(0,0 , 0, 0.1);
}
.detail .recent_orders table tbody td{
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}
.detail .recent_orders table tr:last-child{
    border-bottom: none;
}
.detail .recent_orders table tbody tr:hover{
    background: var(--primary-color);
    color: var(--white);
}
.detail .recent_orders table tr td{
    padding: 1rem;
}
.detail .recent_orders table tr td:last-child{
    text-align: end;
}
.detail .recent_orders table tr td:nth-child(2){
    text-align: end;
}
.detail .recent_orders table tr td:nth-child(3){
    text-align: center;
}
.status.delivered{
    padding: 0.2rem 0.4rem;
    background: var(--primary-contrast-color);
    color: var(--white);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.status.return{
    padding: 0.2rem 0.4rem;
    background: var(--red);
    color: var(--white);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.status.pending{
    padding: 0.2rem 0.4rem;
    background: orange;
    color: var(--white);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.status.inprogress{
    padding: 0.2rem 0.4rem;
    background: rgb(3, 243, 43);
    color: var(--white);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.recent_customers{
    position: relative;
    display: grid;
    min-height: 50rem;
    padding: 2rem;
    box-shadow: 0 0.7rem 2.5rem rgba(0,0 , 0, 0.08);
    border-radius: 2rem;
    background: var(--secondary-color);
    font-family: 'Ubuntu', sans-serif;
}
.recent_customers .img_box{
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}
.recent_customers .img_box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recent_customers table tr:hover{
    background: var(--primary-color);
    color: var(--white);
}
.recent_customers table tr td{
    padding:1.2rem 1rem;
}
.recent_customers table tr td h4{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2rem;
}
.recent_customers table tr td h4 span{
    font-size: 1.4rem;
    color: gray;
}
.recent_customers table tr:hover td h4 span{
    color: var(--white);
}
/* Reponsive*/
@media only screen and (max-width: 991px){
    .nav_menu{
        left: -30rem;
    }
    .nav_menu.active{
        width: 30rem;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 30rem;
    }
    .card_box{
        grid-template-columns: repeat(2,1fr);
    }
    .toggle ion-icon{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 768px){
    .detail{
        grid-template-columns: repeat(1,1fr);
    }
    .recent_orders{
        overflow-x: auto;
    }
    .status.inprogress{
        white-space: nowrap;
    }
    .search{
        width: 30rem;
    }
    .user{
        left: 0;
    }
    .toggle ion-icon{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 480px){
    .card_box{
        grid-template-columns: repeat(1,1fr);
    }
    .card_header h2, .card_header_r h2{
        font-size: 2rem;
    }
    .user{
        min-width: 4rem;
    }
    .nav_menu{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .nav_menu ul li a .title{
        font-size: 1.8rem;
    }
    .nav_menu.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 10001;
    }
    .toggle ion-icon{
        font-size: 4rem;
    }
    .main.active .toggle{
        color: #fff;
        position: fixed;
        right: 0;
        left: inherit;
    }
    .search{
        width: 23rem;
    }
    .user{
        left: 0;
    }
    .card_box .card .numbers{
        font-size: 2.5rem;
    }
    .card_box .card .card_name{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
@media only screen and (max-width: 1020.4rem) and (min-width: 991px){
    .main{
        width: 759px;
    }
    .main.active{
        width: 939px;
    }
}
@media only screen and (max-width: 192rem) and(min-width: 1366px){
    .main{
        width: 1670px;
    }
    .main.active{
        width: 180.5rem;
    }
}
@media only screen and (width: 1080px){
    .main{
        width: 83rem;
    }
    .main.active{
        width: 101rem;
    }
}
