* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--regular);
}

:root {
    --regular: 'Roboto Regular', sans-serif;
    --medium: 'Roboto Medium', sans-serif;
    --bold: 'Roboto Bold', sans-serif;
}

:root {
    --primary-color: rgb(18, 109, 130);
    --primary-color-blur: rgba(18, 109, 130, 0.05);
    --secondary-color: rgb(216, 227, 231);
    --tertiary-color: rgb(81, 196, 211);
    --primary-contrast-color: rgb(238, 111, 87);
    --primary-contrast-color-blur: rgba(238, 111, 87, 0.05);

    --red: rgb(207, 69, 92);
    --gray: rgb(153, 153, 153);
    --gray-blur: rgba(153, 153, 153, 0.1);
    --white: rgb(255, 255, 255);
    --black: rgb(51, 51, 51);
    
    --bg-overlay: rgba(0, 0, 0, 0.35);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--white);
}

.main {
    position: relative;
    max-width: 100%;
    top: 0.5rem;
    left: 3rem;
}

.general-cart {
    width: 100%;
    margin-bottom: 1.2rem;
}

.general-cart__properties {
    position: absolute;
    top: 2rem;
    left: 21rem;
    width: 30rem;
    height: 8.5rem;
    margin: auto;
    border: 1px solid var(--primary-color-blur);
    background: var(--primary-color-blur);
    border-radius: 0.5rem;
}

.general-cart__title {
    width: 60rem;
    height: 2.7rem;
    position: absolute;
    top: -1rem;
    left: 8rem;
    border: 1px solid var(--primary-color-blur);
    display: flex;
    border-radius: 0.4rem;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--primary-color-blur);
}

.product-detail__title {
    width: 60rem;
    height: 2.7rem;
    position: absolute;
    top: -2.8rem;
    border: 1px solid var(--primary-color-blur);
    display: flex;
    border-radius: 0.4rem;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--primary-color-blur);
}

.general-cart__title span,
.product-detail__title span {
    color: var(--primary-color);
    padding: 0.7rem;
    font-weight: 500;
}

.general-cart__title a {
    width: 13rem;
    line-height: 1.4rem;
    background: var(--primary-color-blur);
    border-radius: 0.4rem;
}

.general-cart .general-cart__title>a:hover {
    background: var(--tertiary-color);
    color: var(--white);
    transition: 0.3s ease-in-out;
}

.general-cart__title__order-recent {
    justify-content: right;
    display: flex;
}

.order_icon i {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem 0.7rem 0.2rem;
    color: var(--primary-color);
}

a {
    color: #000000;
    text-decoration: none;
}


table {
    width: 100%;
    padding: 10px;
}

.general-cart__properties__box-cost table tr td {
    padding: 1px;
}

.general-cart__properties__box-cost table tr:first-child td:last-child {
    text-align: right;
    color: var(--primary-contrast-color);
}

.general-cart__properties__box-cost table tr:last-child td {
    color: var(--primary-contrast-color);
    font-size: 0.8rem;
}

.detail_button {
    display: flex;
}

.detail_button a {
    padding: 0.5rem;
}

.btn_1 {
    width: 14rem;
    height: 2.6rem;
    border: 1px solid var(--primary-color);
    text-align: center;
    line-height: 2.6rem;
    border-radius: 0.3rem;
    background: #126E82;
    color: #fff;
}

.detail_button a .btn_1:hover {
    color: var(--primary-color);
    background: var(--white);
    transition: 0.3s ease-out;
}

.btn_2 {
    width: 14rem;
    height: 2.6rem;
    border: 0.1rem solid var(--primary-contrast-color);
    text-align: center;
    line-height: 2.6rem;
    border-radius: 0.3rem;
    color: var(--primary-contrast-color);
}

.detail_button a .btn_2:hover {
    color: var(--white);
    background: var(--primary-contrast-color);
    transition: 0.3s ease-in;
}

.product-detail {
    width: 60rem;
    position: relative;
    top: 14rem;
    left: 8rem;
}

.product-detail__order {
    width: 60rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.product-detail__order .product-detail__order-box {
    position: relative;
    background: var(--primary-color-blur);
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0.4rem;
}

.product_img {
    grid-row-start: 1;
    grid-row-end: 4;
}

.product_img img {
    width: 8rem;
    height: 8rem;
    border-radius: 0.4rem;
}

.product_name {
    padding: 0.8rem 0.8rem 0 0.8rem;
}

.product_detail_1 {
    display: flex;
    padding: 0 0.8rem;
    line-height: 1.5rem;
}

.product_size {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem;
    background: rgba(7, 5, 5, 0.1);
    border: 1px solid none;
    text-align: center;
}

.product_price {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 6rem;
    height: 1.6rem;
    color: var(--primary-contrast-color);
    border-radius: 0.2rem;
    background: rgba(7, 5, 5, 0.1);
    text-align: center;
}

.product_quantity {
    padding: 0 0.8rem;
}

.product_detail_1 {
    line-height: 1.6rem
}

.product_color {
    width: 1.7rem;
    height: 1.7rem;
    background: var(--primary-contrast-color);
    border-radius: 50%;
    cursor: pointer;
}

.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: var(--primary-color-blur);
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    color: var(--primary-color);
    font-size: 1.3rem;
    border: 0.1rem solid var(--white);
    cursor: pointer;
}

.is-form:focus,
.input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 0.2rem 0 0 0.2rem;
}

.is-form.plus {
    border-radius: 0 0.2rem 0.2rem 0;
    background: #D8E3E7;
}

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border: 0.1rem solid var(--primary-color-blur);
    padding: 0;
}

.product_delete input {
    border: none;
    position: absolute;
    color: var(--primary-contrast-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.product_delete {
    position: absolute;
    top: 6.3rem;
    right: 1rem;
}

.product_delete span {
    cursor: pointer;
}

.product_delete span i {
    font-size: 1.3rem;
    color: var(--primary-contrast-color);
}

.product_delete .icon_delete {
    font-family: "Font Awesome 5 Free";
    font-size: 1.3333333333333333em;
    font-weight: 900;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width:1920px) {
    .general-cart__properties {}
}

@media screen and (max-width:1024px) {
    .main {
        left: -6.7rem;
    }
}

@media screen and (max-width:812px) {

    .main {
        width: 50rem;
        left: -7rem;
    }

    .general-cart__title {
        width: 45.5rem;
    }

        .general-cart__properties {
            left: 16rem;
        }

    .product-detail__order {
        width: 45rem;
        padding: 0.5rem;
    }

    .product-detail__title {
        width: 45rem;
    }
}

@media screen and (max-width:480px)  {
    .product-detail__order {
        grid-template-columns: repeat(1, 1fr);
    }

    .main {
        width: 10rem;
    }

    .product-detail__order,
    .product-detail__title,
    .general-cart__title {
        width: 23rem;
    }
    .general-cart__properties{
        left: 8.5rem;
        width: 22rem;
        height: 8rem;
    }
    .btn_1,.btn_2{
        width: 10rem;

    }
    .general-cart__title__order-recent span{
        display: none;
    }
    .general-cart__title a{
        width: 3rem;
    }
    .order_icon i{
        position: absolute;
        left: 21rem;
    }
}
@media screen and (max-width:375px) {
    .main{
        left: -7.4rem;
    }
    .product-detail__order,
    .product-detail__title,
    .general-cart__title {
        width: 21rem;
    }
    .general-cart__properties{
        left: 8.5rem;
        width: 19rem;
        height: 8rem;
    }
    .btn_1,.btn_2{
        width: 8.3rem;
        font-size: 0.9rem;
    }
    .general-cart__title__order-recent span{
        display: none;
    }
    .general-cart__title a{
        width: 3rem;
    }
    .order_icon i{
        position: absolute;
        left: 19rem;
    }
}