/* background */
.banner__container {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    overflow: hidden;
}

.banner__contain-img:not(:first-child) {
    display: none;
}

.banner__contain-img {

    width: 100%;
    height: auto;
    display: flex;

}

/* nút lùi */
.banner__prev-btn {
    width: 5rem;
    height: 6rem;

    position: absolute;
    border-color: transparent;
    border-radius: 0px 5px 5px 0px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    opacity: 0.6;
}

.banner__prev-btn:hover {
    background-color: var(--black);
    opacity: 0.8;
    transition: 0.2s;
}

/* Hiệu ứng khi chuyển đổi các slide */
/*.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
   
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
*/
/* nút tiếp */

.banner__next-btn {
    width: 5rem;
    height: 6rem;
    right: 0;


    border-radius: 0px 5px 5px 0px;
    border-color: transparent;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    opacity: 0.6;
    transform: rotate(180deg);

}

.banner__next-btn:hover {
    opacity: 0.8;
    Transition: 0.2s;

    background-color: var(--black);

}

.banner__prev-btn,
.banner__next-btn {
    display: none;
}

.banner:hover .banner__prev-btn,
.banner:hover .banner__next-btn {
    display: block;
}

.banner__icon-prev {
    margin-right: 0.65rem;


    font-size: 5rem;
    font-weight: 900;
    color: var(--white);

}

.banner__icon-next {
    margin-right: 0.65rem;


    font-size: 5rem;
    font-weight: 900;
    color: var(--white);

}


.banner__index-group {
    width: 100%;
    height: 1rem;

    bottom: 1rem;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner__index {
    width: 3rem;
    height: 1rem;
    margin: 0 0.75rem;

    opacity: 0.6;
    border-radius: 0.5rem;
    transform: rotate(-180deg);
    border-color: transparent;

    background-color: var(--black);


}

.banner__index:hover {
    opacity: 0.8;
    transform: 0.2s;
}

.banner__index--choosen {
    width: 3rem;
    height: 1rem;
    margin: 0 0.75rem;

    opacity: 0.6;
    border-radius: 0.5rem;
    transform: rotate(-180deg);
    border-color: transparent;

    background-color: var(--primary-color);

}
.imgIn { 
    animation: moveImgIn 0.3s forwards;
}

.imgOutRight {
    animation: moveImgOutRight 0.3s forwards;
}

.imgOutLeft {
    animation: moveImgOutLeft 0.3s forwards;
}

@keyframes moveImgIn {
    100% {
        left: 0;
    }
}

@keyframes moveImgOutRight {
    100% {
        left: 100%;
    }
}

@keyframes moveImgOutLeft {
    100% {
        left: -100%;
    }
}

/* Start animate slide*//*
@-webkit-keyframes slideIn {
    100% {
        left: 0;
    }
}

@keyframes slideIn {
    100% {
        left: 0;
    }
}

.slideInRight {
    left: -100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}

.slideInLeft {
    left: 100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
    100% {
        left: -100%;
    }
}

@keyframes slideOutLeft {
    100% {
        left: -100%;
    }
}

.slideOutLeft {
    -webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
    100% {
        left: 100%;
    }
}

@keyframes slideOutRight {
    100% {
        left: 100%;
    }
}

.slideOutRight {
    -webkit-animation: slideOutRight 1s forwards;
    animation: slideOutRight 1s forwards;
}
*/
/*End animate Slide*/

/* thương hiệu uy tín - top 5 sản phẩm nổi bật */
.titleBar {
    width: auto;
    height: 5rem;
    flex-wrap: wrap;

    border: 0.01rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color-blur);

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBar p {

    font-size: 1.8rem;
    font-family: var(--regular);
}

/*  */

/* home__top-5-product */
.top5__productInf {
    width: 100%;
    height: auto;
    padding: 0 13.5rem;
    margin-bottom: 2rem;

}

/*  */

.productInf {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgba(18, 110, 130, 0.05);

    display: flex;
    box-sizing: border-box;
    position: relative;
    align-items: center;

}

/*  */
.productInf__prev-btn {
    width: 5rem;
    height: 5rem;

    position: absolute;
    border-color: transparent;
    border-radius: 0px 5px 5px 0px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color 5%);
}

.productInf__prev-btn:hover {
    background-color: var(--secondary-color);

    Transition: 0.2s;
}

/* nút tiếp */

.productInf__next-btn {
    width: 5rem;
    height: 5rem;
    right: 0;


    border-radius: 0px 5px 5px 0px;
    border-color: transparent;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color 5%);
    transform: rotate(180deg);

}

.productInf__next-btn:hover {
    background-color: var(--secondary-color);
    Transition: 0.2s;

}

.productInf__icon {
    width: 5rem;
    height: 5rem;
    margin-right: 0.65rem;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    color: var(--gray);

    font-size: 2.4rem;
    font-weight: 900;

}

.productInf__icon:hover {
    margin-right: 0.65rem;
    font-size: 2.4rem;
    font-weight: 900;
    transition: 0.2s;

    color: var(--primary-color);

}


.top5__productInf-img {
    width: auto;
    height: auto;
    padding: 1.5rem;
}

/* home__productNameTop */
.productInf-NameTop {
    width: auto;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 3.5rem;

    display: flex;
    align-items: center;

    color: var(--primary-color);
    background: rgba(18, 110, 130, 0.05);


}

.productInf-NameTop div {
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: var(--primary-color);
}

.productInf-NameTop div p {
    font-size: 1.8rem;
    position: absolute;

    color: var(--white);

}

.productInf-NameTop p {
    font-family: var(--regular);
    font-size: 1.8rem;
}

/* màu sắc  */
.top5__color {
    width: auto;
    height: auto;
    margin: 1.5rem 0;


    display: flex;
    align-items: center;
}

.top5__color-size {
    width: 5rem;
    height: 5rem;
    margin: 0 0.7rem;

    position: relative;
    cursor: pointer;
}

.choose-color-input {
    width: 5rem;
    height: 5rem;

    position: absolute;
    opacity: 0;
}

.chooseColor-img {
    width: 5rem;
    height: 5rem;

    position: absolute;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);

}

.color-icon {
    position: absolute;
    opacity: 0;

    font-size: 2rem;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    color: var(--white);

}


.choose-color-input:checked~label i {
    opacity: 1;
    transition: 0.2s;
}




/* Kích cỡ giày  */
.top5__size {
    width: auto;
    height: 5rem;
    margin: 0.5rem 0;

    display: flex;
}

.top5__size-conhang {
    width: 5rem;
    height: 5rem;
    margin: 0 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border-radius: 0.5rem;
    border: 0.2rem solid #D8E3E7;

}

.top5__size-input {
    width: 50px;
    height: 50px;

    display: flex;
    position: absolute;
    opacity: 0;
    cursor: pointer;


}

.top5__size-input:checked~label {
    transition: 0.2s;

    color: var(--primary-color);

}


.top5__size-conhang--lable {

    width: 5rem;
    height: 5rem;



    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 1.8rem;
    font-family: var(--regular);

}

.top5__size-conhang:hover {
    transition: 0.2s;

    border: 0.2rem solid var(--primary-color);

}

/* size hết hàng */
.top5__size-hethang {
    width: 5rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 0 0.75rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #D8E3E7;
}

.top5__size-hethang label {
    font-size: 1.8rem;
    font-family: var(--regular);

    color: var(--gray);
}

.top5__size--input-hethang {
    width: 5rem;
    height: 5rem;

    display: flex;
    position: absolute;
    opacity: 0;
}

.Line {
    width: auto;
    height: 0;
    border-top: 2px dashed #D8E3E7;
    margin: 3rem 0;
}

/* giá tiền */
.top5__price {
    width: auto;
    height: auto;

    display: flex;

}

.top5__price div p {
    font-size: 1.8rem;
    font-family: var(--medium);

}

.top5__price-cost {
    width: 17rem;
    height: 5rem;
    margin: 0.8rem;

    align-items: center;
    display: flex;
    justify-content: center;

    font-size: 1.8rem;
    color: var(--primary-contrast-color);

    background: rgba(153, 153, 153, 0.1);

    border-radius: 25px;
}

.top5__price-percent {
    width: 8rem;
    height: 5rem;

    margin: 0.8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 2.5rem;

    font-size: 1.8rem;
    font-family: var(--regular);
    color: var(--white);

    background: var(--primary-contrast-color);

}

.top5__price-reduce {
    width: 17rem;
    height: 5rem;
    margin: 0.8rem;


    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2.5rem;

    text-decoration-line: line-through;
    font-size: 1.8rem;
    font-family: var(--regular);
    color: var(--gray);

    background: rgba(153, 153, 153, 0.1);
}

/* Thêm vào giỏ hàng - mua ngay */
.top5__cart {
    width: auto;
    height: auto;
    margin: 2rem 0;


    display: flex;
}

.cart__add {
    width: 37rem;
    height: 5rem;
    display: flex;

    border-radius: 5px;
    align-items: center;
    justify-content: center;

    color: var(--white);

    background-color: var(--primary-color);
    opacity: 0.9;

    margin: 0 0.7rem;

}

.cart__add p {
    font-size: 1.8rem;
    font-family: var(--regular);
}

.cart__add:hover {
    transition: 0.2s;

    border: 0.2rem solid var(--primary-color);

    background-color: var(--white);
    color: var(--primary-color);
    opacity: 0.9;

}

.cart__buy {

    width: 37rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 0.7rem;
    border: 2px solid var(--primary-contrast-color);


    /* color: var(--white); */
    color: var(--primary-contrast-color);

}

.cart__buy:hover {
    background-color: var(--primary-contrast-color);
    color: var(--white);
    transition: 0.2s;
}

.cart__buy p {
    font-size: 1.8rem;
    font-family: var(--regular);
}

/* Thương hiệu */
.trademark {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    color: #333333;
    padding: 0 15rem;
}

.trademark__titleBar {
    width: auto;
    height: 5rem;
    flex-wrap: wrap;

    border: 0.1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color-blur);

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.trademark__titleBar p {

    font-size: 1.8rem;
    font-family: var(--regular);
}

.trademark__containLogo {
    display: flex;
    flex-wrap: wrap;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Logo {
    width: auto;
    height: 10rem;
    padding: 0 15rem;


    border: 0.2rem solid #D8E3E7;
    border-radius: 0.5rem;
    margin: 0 auto;
    display: flex;

    align-items: center;
    justify-content: center;
}

.Logo img {
    width: 8.9rem;

}

@media only screen and (max-width: 1140px) {

    .productInf {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
        border-radius: 0.5rem;
        border: 0.2rem solid rgba(18, 110, 130, 0.05);

        display: block;
        box-sizing: border-box;
        position: relative;
        align-items: center;


    }

    .productInf__prev-btn {
        width: 5rem;
        height: 5rem;

        position: absolute;
        border-color: transparent;
        border-radius: 0px 5px 5px 0px;
        top: 30%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color 5%);
    }

    .productInf__next-btn {
        width: 5rem;
        height: 5rem;
        right: 0;
        top: 30%;


        border-radius: 0px 5px 5px 0px;
        border-color: transparent;

        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color 5%);
        transform: rotate(180deg);

    }


    .Logo {
        width: 100%;
        height: 10rem;
        padding: 0 1px;
        margin: 0.75rem 0;


        border: 2px solid #D8E3E7;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* mobile  */
@media only screen and (max-width: 768px) {
    .top5__productInf {
        width: 100%;
        height: auto;
        padding: 0 8rem;
        margin-bottom: 2rem;

    }

    .productInf__prev-btn {
        width: 5rem;
        height: 5rem;

        position: absolute;
        border-color: transparent;
        border-radius: 0px 5px 5px 0px;
        top: 25%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color 5%);
    }

    .productInf__next-btn {
        width: 5rem;
        height: 5rem;
        right: 0;
        top: 25%;


        border-radius: 0px 5px 5px 0px;
        border-color: transparent;

        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color 5%);
        transform: rotate(180deg);

    }

    .productInf {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
        border-radius: 0.5rem;
        border: 0.2rem solid rgba(18, 110, 130, 0.05);

        /* display:inline-block ; */
        box-sizing: border-box;
        position: relative;
        align-items: center;

    }

    .top5__size-conhang {
        width: 5rem;
        height: 5rem;
        margin: 0 0.6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        border-radius: 0.5rem;
        border: 0.2rem solid #D8E3E7;

    }

    .trademark__containLogo {
        width: 100%;
        height: 100px;
        display: flex;
    }

    .Logo {
        width: 100%;
        height: 10rem;
        padding: 0 1px;
        margin: 0.75rem 0;


        border: 2px solid #D8E3E7;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
    }


}