@font-face {
    font-family: 'Roboto Regular';
    src: url(/public/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(/public/font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(/public/font/Roboto/Roboto-Bold.ttf);
}

/* @font-face {
    font-family: 'Roboto ';
    src: url(/public/font/Roboto);
} */