:root {
    --primary-color: #126E82;
    --primary-color-blur: #126d8218;
    --primary-color-hover: #126d82ee;
    --secondary-color: #EE6F57;
    --secondary-color-blur: #EE6F5718;
    --tertiary-color: #51C4D3;

    --gray: #999;
    --light-gray: #e5e5e5;
    --white: #fff;
    --black: #333;
}