.home {
    width: 100%;
    height: auto;
}

.home__container {
    width: 100%;
    height: auto;


}

/* background */
.home__background {
    width: 100%;
    height: auto;
}

.home__background-img {
    background-image: url(/public/image/site/home_page/background.png);

    max-width: 100%;
    height: 48.6rem;

    background-repeat: no-repeat;
    /* không lập hình ảnh */
    background-position: center;
    background-size: cover;
    /*Thay đổi kích thước hình nền để bao phủ toàn bộ vùng chứa*/


}

/* thương hiệu uy tín - top 5 sản phẩm nổi bật */
.home__titleBar {
    width: 1170px;
    height: 50px;
    text-align: center;
    background-color: blue;
    /* background-color: var(--primary-color-blur); 
    */
    margin: 0 auto;
}

.home__titleBar p {


    font-size: 1.8rem;
    font-family: var(--medium);
}

/*  */

.home__productInf {
    width: 100%;
    height: ;
    background-color: violet;
    margin: auto;
    
    padding: 0 135px;
}

.home__productInf-img {
    width: 37rem;
    height: 37rem;

}

/* Thương hiệu */
.home__thuongHieu {
    width: 100%;
    height: auto;
}

.home__containLogo {
    display: flex;

    padding: 0 150px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home__Logo {
    width: 370px;
    height: 100px;
    padding-left: 2rem;
    padding-right: 2rem;


    border: 1px solid #D8E3E7;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__Logo img {
    width: 89px;
}