.home {
    width: 100%;
}

/* background */
.banner__container {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0 3rem 0;
}

.banner__container-img {

    width: 100%;
    height: auto;
    display: flex;
}

/* nút lùi */
.banner__prev-btn {
    width: 5rem;
    height: 5rem;

    position: absolute;
    border-radius: 0px 5px 5px 0px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333333;
    opacity: 0.6;
}

.banner__prev-btn:hover {
    background-color: #333333;
    opacity: 0.8;
    Transition: 0.2s;
}

/* nút tiếp */

.banner__next-btn {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0;
    border-radius: 0px 5px 5px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333333;
    opacity: 0.6;
    transform: rotate(180deg);
}

.banner__next-btn:hover {
    background-color: #333333;
    opacity: 0.8;
    Transition: 0.2s;
}

.fas fa-caret-left {
    position: absolute;
    display: flex;
    
    
}
.banner__index-group {
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;



    /* calc(100% - 2.5rem); */
}

.banner__index-group div {
    width: 3rem;
    height: 1rem;
    display: flex;
    align-items: center;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.banner__index-group div button {
    width: 3rem;
    height: 1rem;
    opacity: 0.6;
    border-radius: 5px;
    transform: rotate(-180deg);

    background-color: #333333;

}

.banner__index-group div button:hover {
    background-color: #333333;
    opacity: 0.8;
    transform: 0.2s;
}


/* thương hiệu uy tín - top 5 sản phẩm nổi bật */
.titleBar {
    width: auto;
    height: 50px;
    flex-wrap: wrap;

    border: 1px;
    border-radius: 5px;
    background-color: var(--primary-color-blur);

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;



}


.titleBar p {

    font-size: 1.8rem;
    font-family: var(--medium);
}

/*  */

/* home__top-5-product */
.top5__product {
    width: 100%;
    height: auto;
    padding: 0 13.5rem;
    margin-bottom: 2rem;
    
}

/*  */

.productInf {
    width: 100%;
    height: auto;
    display: flex;
    border: 0.2rem solid rgba(18, 110, 130, 0.05);
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: relative;
    align-items: center;

}

.productInf__img {
    width: auto;
    height: auto;
    padding:1.5rem;

}

/* home__productNameTop */
.productInf-NameTop {
    width: auto;
    height: 5rem;
    background: rgba(18, 110, 130, 0.05);
    color: #126E82;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-radius: 3.5rem;

}
.productInf-NameTop div{
    width: 5rem;
    height: 5rem;
    display: flex;
    position: relative;
    background-color: #126E82;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}
.productInf-NameTop div p {
    font-size: 1.8rem;
    position: absolute;
    color: var(--white);
    
}
.productInf-NameTop p {

    font-family: var(--regular);
    font-size: 1.8rem;
}

/* màu sắc  */
.choose-Color {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}
.choose-Color div {
    width: 5rem;
    height: 5rem;

    border-radius: 50%;
    margin: 0 0.75rem;
}
.choose-Color  div input {
    width: 5rem;
    height: 5rem;
    opacity: 0;
}


/* Kích cỡ giày  */
.choose-Size {
    width: auto;
    height: 5rem;
    display: flex;
    margin: 0.5rem 0;
}

.choose-Size div {
    width: 5rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin: 0 0.75rem;
    border-radius: 5px;
    border: 2px solid #D8E3E7;
}

.choose-Size div input {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    opacity: 0;
}

.choose-Size div p {
    font-size: 1.8rem;
    font-family: var(--regular);
}

.choose-Size div:hover {
    border: 2px solid #126E82;
}

/* giá tiền */
.pricInf {
    width: auto;
    height: auto;
    display: flex;

}
.pricInf div p {
    font-size: 1.8rem;
    font-family: var(--regular);
    
}

.pricInf-1 {
    width: 17rem;
    height: 5rem;
    margin: 0.8rem;

    align-items: center;
    display: flex;
    justify-content: center;
    
    background: rgba(153, 153, 153, 0.1);
    
    border-radius: 25px;
}

.pricInf-percent {
    width: 8rem;
    height: 5rem;

    margin: 0.8rem;
    align-items: center;
    justify-content: center;
    display: flex;

    border-radius: 25px;

    background: #EE6F57;
    
}

/* Thêm vào giỏ hàng - mua ngay */
.containBtn {
    width: auto;
    height: auto;
    display: flex;
    margin:2rem 0 ;
}

.containBtn-add {
    width: 37rem;
    height: 5rem;
    display: flex;

    border-radius: 5px;
    align-items: center;
    justify-content: center;

    color: var(--white);

    background-color: #126E82;
    margin: 0 0.7rem;

}

.containBtn-add p {
    font-size: 1.8rem;
    font-family: var(--regular);
}

.containBtn-buy {

    width: 37rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0 0.7rem;
    border: 2px solid #EE6F57;


    /* color: var(--white); */
    color: #EE6F57;


}

.containBtn-buy p {
    font-size: 1.8rem;
    font-family: var(--regular);
}

/* Thương hiệu */
.thuongHieu {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    color: #333333;
    padding: 0 15rem;
}

.containLogo {
    display: flex;
    flex-wrap: wrap;

    
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Logo {
    width: 370px;
    height: 100px;

    border: 2px solid #D8E3E7;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
}

.logo a {
    padding: 0 0.75rem;
}

.Logo img {
    width: 89px;

}