.home {
    width: 100%;
    height: auto;
}

.home__container {
    width: 100%;
    height: auto;

}

/* background */
.home__background {
    width: 100%;
    height: auto;
}

.home__background-img {
    background-image: url(/public/image/site/home_page/background.png);

    max-width: 100%;
    height: 48.6rem;

    background-repeat: no-repeat;
    /* không lập hình ảnh */
    background-position: center;
    background-size: cover;
    /*Thay đổi kích thước hình nền để bao phủ toàn bộ vùng chứa*/


}

/* thương hiệu uy tín - top 5 sản phẩm nổi bật */
.home__titleBar {
    width: 1170px;
    height: 50px;
    flex-wrap: wrap;

    border: 1px #D8E3E7;
    border-radius: 5px;
    background-color: var(--primary-color-blur);

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

.home__titleBar p {

    font-size: 1.8rem;
    font-family: var(--medium);
}

/*  */

.home__productInf {
    width: 100%;
    height: auto;
    display: flex;
    background-color: violet;
    padding: 2rem 13.5rem;

}

.home__productInf-img {
    width: 37rem;
    height: auto;
    
}

/*  */
.home__productInf-information {

    width: auto;
    height: 370px;
    padding: 0 15px;


}

/* Thêm vào giỏ hàng - mua ngay */
.home__containBtn {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.home__containBtn-add {
    width: 37rem;
    height: 5rem;
    display: flex;

    border-radius: 5px;
    align-items: center;
    justify-content: center;

    color: var(--white);

    background-color: yellowgreen;
    
}

.home__containBtn-buy {
    
    width: 37rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    /* color: var(--white); */
    color: #EE6F57;
    border: 2px  solid #EE6F57;
    border-radius: 5px;

}

/* Thương hiệu */
.home__thuongHieu {
    width: 100%;
    height: auto;
    padding-top: 2rem;
}

.home__containLogo {
    display: flex;
    flex-wrap: wrap;

    padding: 0 150px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home__Logo {
    width: 370px;
    height: 100px;

    border: 2px solid #D8E3E7;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
}

.home__logo a {
    padding: 0 0.75rem;
}

.home__Logo img {
    width: 89px;

}