:root {
  --primary-color: rgb(18, 109, 130);
  --primary-color-blur: rgba(18, 109, 130, 0.05);
  --secondary-color: rgb(216, 227, 231);
  --tertiary-color: rgb(81, 196, 211);
  --primary-contrast-color: rgb(238, 111, 87);
  --primary-contrast-color-blur: rgba(238, 111, 87, 0.05);

  --red: rgb(207, 69, 92);
  --gray: rgb(153, 153, 153);
  --gray-blur: rgba(153, 153, 153, 0.1);
  --white: rgb(255, 255, 255);
  --black: rgb(51, 51, 51);
  
  --bg-overlay: rgba(0, 0, 0, 0.35);
}
.bread-crumb-custom {
  display: flex;

  width: 117rem;
  height: 4rem;

  padding:0 1.5rem;
  margin: 0 auto 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;


  align-items: center;

  background-color: var(--primary-color-blur);

}
.bread-crumb-custom p {
  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--primary-color);

}
.bread-crumb-custom__icon {
  padding: 0 1rem;
  
  font-size: 1.4rem;
  color: var(--primary-color);

  transform: rotate(180deg);

}
/* top-bar */
.top-bar{
  max-width: 114rem;
  height: auto;

  margin: 0 auto 1.5rem;
}
.top-bar__tile-bar {
  display: flex;

  width: 114rem;
  height: 5rem;

  margin-bottom: 0.6rem;
  border-radius: 0.5rem;

  justify-content: space-between;
  align-items: center;

  background:var(--primary-color-blur);
}
.top-bar__tile-bar-status {
  padding-left:1.5rem ;
 
}

.top-bar__tile-bar-text-status {
  font-size: 1.8rem;
  font-family: var(--regular);

  color: var(--primary-color);
}

/* top-bar__tile-bar-my-shopping-cart */
.top-bar__tile-bar-my-shopping-cart button {
  display: flex;

  max-width: 20.9rem;
  height: 5rem;

  border-radius: 0.5rem;
  border: 0 solid var(--primary-color-blur);
  
  border-color: transparent;
  align-items: center;


  background-color: var(--primary-color-blur);

}

.top-bar__tile-bar-text-my-shopping-cart {
  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--primary-color);

  padding: 0 1.4rem;
}
.my-shopping-cart__group {
  display: flex;

  width: 5rem;
  height: 5rem;
  
  border-radius: 0.5rem;
  border-color: transparent;

  align-items: center;
  justify-content:center;


  background-color: var(--primary-contrast-color-blur);
}
.my-shopping-cart__icon {
  font-size: 2rem;
  color: var(--primary-color);
 
}

/* top-bar__status-group */
.top-bar__status-group {
  display: flex;

  max-width: auto;
  height: 5rem;

  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
/*  */
.top-bar__status-order-status-1 {
  display: flex;

  width: auto;
  height: 5rem;
  margin-right: 0.5rem;

  align-items: center;
  justify-content: space-between;

  border-radius:0.5rem ;
  border: 0 solid var(--primary-contrast-color-blur);
  border-color: transparent;

  background-color: var(--primary-contrast-color-blur);
  
}
.top-bar__status-order-status-1-text {
  font-size: 1.8rem;
  color: var(--primary-contrast-color);
  padding: 0 1.5rem;
}
.top-bar__status-order-status-1-group {
  display: flex;
right: 0;
  width: 5rem;
  height: 5rem;

  border-radius: 0.5rem;
  border-color: transparent;

  align-items: center;
  justify-content: center;

    background-color: var(--primary-contrast-color-blur);
}
.top-bar__status-order-status-1-icon {
  font-size:2rem;
  color: var(--primary-contrast-color);
}
/* 2 */

.top-bar__status-order-status-2 {
  display: flex;

  width: auto;
  height: 5rem;

  margin-right: 0.5rem;

  align-items: center;
  justify-content: space-between;

  border-radius:  0.5rem;
  border: 0 solid var(--gray-blur);
  border-color: transparent;

  background-color: var(--gray-blur);
}
.top-bar__status-order-status-2-text {
  font-size: 1.8rem;
  color: var(--black);
  padding: 0 1.5rem;
}
.top-bar__status-order-status-2-group {
  display: flex;

  width: 5rem;
  height: 5rem;

  border-radius: 0.5rem;
  border-color: transparent;

  align-items: center;
  justify-content: center;

    background-color: var(--black);
}
.top-bar__status-order-status-2-icon {
  font-size:2rem;
  color: var(--white);
}
/* 3 */
.top-bar__status-order-status-3 {
  display: flex;

  width: auto;
  height: 5rem;

  margin-right: 0.5rem;

  align-items: center;
  justify-content: space-between;

  border-radius: 0.5rem;
  border: 0 solid var(--primary-contrast-color-blur);
  border-color: transparent;

  background-color: var(--primary-color-blur);
}
.top-bar__status-order-status-3-text {
  font-size: 1.8rem;
  color: var(--primary-color);
  padding: 0 1.5rem;
}
.top-bar__status-order-status-3-group {
  display: flex;

  width: 5rem;
  height: 5rem;

  border-radius: 0.5rem;
  border-color: transparent;

  align-items: center;
  justify-content: center;

    background-color: var(--primary-color-blur);
}
.top-bar__status-order-status-3-icon {
  font-size:2rem;
  color: var(--primary-color);
}
/* 4 */
.top-bar__status-order-status-4 {
  display: flex;
  
  width: auto;
  height: 5rem;

  margin-right: 0.5rem;
  
  align-items: center;
  justify-content: space-between;

  border-radius: 0.5rem;
  border: 0 solid var(----primary-contrast-color-blur);
  border-color: transparent;
  
  background-color: var(--primary-contrast-color-blur);
}
.top-bar__status-order-status-4-text {
  font-size: 1.8rem;
  color: var(--red);

  padding: 0 1.5rem;
}
.top-bar__status-order-status-4-group {
  display: flex;

  width: 5rem;
  height: 5rem;

  border-radius: 0.5rem;
  border-color: transparent;

  align-items: center;
  justify-content: center;

    background-color: var(--primary-contrast-color-blur);
}
.top-bar__status-order-status-4-icon {
  font-size:2rem;
  color: var(--red);
}
/*  */
/*  */
/* table */
.table{
  max-width: 114rem;
  height: auto;
  margin: 0 auto 1.5rem;

}


/* header */
.table__row {
  max-width: 114rem;
  height: auto;
  border-collapse: collapse;
}
.table__header {
  width: 1140rem;
  height: 5rem;

  border-radius: 0.5rem;

  background-color: var(--primary-color);
}
.table__row-header-1 {
  width: calc((100%-6rem)/3);
  height: 5rem;

  padding-left: 1.5rem;

  border-radius: 0.5rem 0 0 0.5rem;
  
  font-family: var(--regular);
  font-size: 1.8rem;
  color: var(--white);
}
.table__row-header {
  width: calc((100%-6rem)/3);
  height: 5rem;

  padding-left: 1.5rem;

  font-family: var(--regular);
  font-size: 1.8rem;
  color: var(--white);
}

/* table__row-group(1-2) */
.table__row-group-1 {
  width:114rem;
  height: 6rem;
}
.table__row-group-2 {
  width:114rem;
  height: 6rem;

 background-color: var(--primary-color-blur);
}
/* table-row(1-2-3) */

.table__row-1 {
  padding-left: 1.5rem;

  border-radius: 0.5rem 0 0 0.5rem;

  font-size: 1.8rem;
  font-family:var(--regular);

}
.table__row-2{
  padding-left: 1.5rem;

  font-size: 1.8rem;
  font-family:var(--regular);
}
.table__row-3{
  padding-left: 1.5rem;

  font-size: 1.8rem;
  font-family:var(--regular);
}
/* Processing (đang sử lý) */
.table__row-3--Processing {
  padding-left: 1.5rem;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--primary-contrast-color);
}
/* completed (Hoàn tất) */
.table__row--completed {
  padding-left: 1.5rem;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--primary-color);
}
/* đang giao */
.table__row-3--delivering {
  padding-left: 1.5rem;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--black);
}
/* bị hủy */
.table__row-3--cancel {
  padding-left: 1.5rem;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--red);
}
/* hover */
.table__row-group-1:hover {
  background-color: var(--primary-contrast-color-blur);
  transition: 0.2s;
  
}
.table__row-group-2:hover {
  background-color: var(--primary-contrast-color-blur);
  transition: 0.2s;
}

/* icon */
.table__group-icon {
  border-radius: 0 0.5rem 0.5rem 0;

}
/* button */
.table__button {
  width: 5rem;
  height: 5rem;

  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border-color: transparent;

  background-color: var(--primary-color-blur);
}


.table__icon {
  font-size: 1.8rem;
  color: var(--primary-color);
}
/* hover button */
.table__button:hover {
  background-color: var(--secondary-color);
  transition: 0.2s;
}
/*  */
.product__pagination {
  display: flex;

  max-width: 33rem;
  height: 5rem;

  margin: 0 auto 0;

  align-items: center;
  justify-content: space-between;

}
.product__pagination__link {

  width: 5rem;
  height: 5rem;
  position: relative;
  list-style-type: none;
  border-radius: 0.5rem;

  font-size: 1.8rem;

}
.product__pagination-button {
  height: 5rem;
  width: 5rem;

  position: absolute;
  border-radius: 0.5rem;
  border-color: transparent;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--primary-color);

  background-color: var(--primary-color-blur);

  
}
.fa-angle-double-right {
  font-size: 2rem;
  color: var(--primary-color);
}
.product__pagination-button:hover {
  transition: 0.2s;
}

.product__pagination__link--active{
  border: 0.2rem solid var(--primary-color);
  
}